<div class="columnsettings" ng-show="showSettings.show">
    <form>
        <input type="text" name="searchinput" class="input-medium search-query" placeholder="Search String" ng-change="change()" ng-model="searchVars.searchString">
        <button type="submit" class="btn ng-scope"  ng-click="changeSearch()">
            Search
        </button>
        <a class="btn arrow" ng-disabled="leftdisabled" href="#" ng-click="moveColLeft()"><i class="icon-chevron-left"></i></a>
        <a class="btn arrow" ng-disabled="rightdisabled" href="#" ng-click="moveColRight()"><i class="icon-chevron-right"></i></a>
        <button type="button" class="btn btn-danger" ng-click="deleteColumn()">Delete Column</button>
    </form>
</div>