<div class="columnsettings" ng-show="showSettings.show">
    <form>
        <div class="leftCol">
            <a class="btn arrow" ng-disabled="leftdisabled" href="#" ng-click="moveColLeft()"><i class="icon-chevron-left"></i></a>
            <a class="btn arrow" ng-disabled="rightdisabled" href="#" ng-click="moveColRight()"><i class="icon-chevron-right"></i></a>
        </div>
        <div class="rightCol">
            <button type="button" class="btn btn-danger" ng-click="deleteColumn()">Delete Column</button>
        </div>
    </form>
</div>
