<!DOCTYPE html>
<html ng-app="angtwit" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>AngTwitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="less/style.less" rel="stylesheet/less">

    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="TopBarCtrl">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">AngTwit</a>

            <form class="form-search top-search">
                <input type="text" class="input-medium search-query">
                <button type="submit" class="btn">Search</button>
            </form>

        </div>
    </div>
</div>

<div class="container">
    <div class="row" ng-controller="ColumnsCtrl">
        <div class="span4" ng-repeat="column in ColumnData.columns">
            <tweetColumn type="{{column['type']}}"></tweetColumn>
        </div>
    </div>
</div>

<! -- Templates -- >
<script type="text/ng-template" id="friendtweets-column.html">
    <div class="span4 friendTweets" ng-controller="FriendTweetsCtrl">
        <h3>{{$parent.$index+1}}. {{ColumnData.columns[$parent.$index]["name"]}} </h3>
        <i class="icon-home icon-white heading-icon"></i>
        <div class="colTweets">
            <div ng-repeat="tweet in tweets" class="tweetBox">
                <div class="tweetprofilepic">
                    <img ng-src="{{tweet.user.profile_image_url}}">
                </div>
                <div class="tweetdetails">
                    <p><a href="#"><strong>{{tweet.user.name}}</strong><span class="screen_name">@{{tweet.user.screen_name}}</span></a></p>
                    <tweetbody ng-bind-html="addHTML(tweet.text)"></tweetbody>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="search-column.html">
    <div class="span4 friendTweets" ng-controller="SeatchTweetsCtrl">
        <h3>{{$parent.$index+1}}. {{ColumnData.columns[$parent.$index]["name"]}} </h3>
        <i class="icon-search icon-white heading-icon"></i>
        <div class="colTweets">
            <div ng-repeat="tweet in tweets | limitTo:pageSize " class="tweetBox">
                <div class="tweetprofilepic">
                    <img ng-src="{{tweet.profile_image_url}}">
                </div>
                <div class="tweetdetails">
                    <p><a href="#"><strong>{{tweet.from_user_name}}</strong><span class="screen_name">@{{tweet.from_user}}</span></a></p>
                    <tweetbody ng-bind-html="addHTML(tweet.text)"></tweetbody>
                </div>
                <hr/>
            </div>
        </div>
        <loadtweets></loadtweets>
    </div>
</script>



<script src="js/angular.min.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/angular-ui.js"></script>
<script src="js/less-1.3.3.min.js"></script>

<script src="js/jquery-1.9.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/app.js"></script>

</body>
</html>
