<!DOCTYPE html>
<html ng-app="angtwit" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>AngTwitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lte IE 8]>
    <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
    </script>
    <![endif]-->

    <!-- Le styles -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="//mgcrea.github.com/angular-strap/css/prettify.css" rel="stylesheet">
    <link href="css/jquery.jscrollpane.css" rel="stylesheet">
    <link href="less/style.less" rel="stylesheet/less">

    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="TopBarCtrl">
    <div class="navbar-inner">
        <div class="navcol">
            <a class="brand" href="#">Welcome Back {{userData.user.name}}</a>
        </div>
        <div class="navcol">
            <img src="img/logo.png" class="navlogo">
        </div>
        <div class="navcol">
            <form class="form-search top-search" ng-controller="TopSearchBarCtrl">
                <input type="text" name="searchinput" class="input-medium search-query" placeholder="Search..." ng-change="change()" ng-model="searchVars.searchString">
                <button type="submit" name="submit" ng-disabled="searchDisabled" class="btn ng-scope"  ng-click="searchTweets()">
                    Add Column
                </button>
            </form>
        </div>
    </div>
</div>

<div class="horizontal-row" ng-controller="ColumnsCtrl">
    <div class="tweetspan" ng-repeat="column in ColumnData.columns">
        <tweetColumn type="{{column['type']}}" ng-controller="TweetColumnCtrl" name="{{column['name']}}"></tweetColumn>
    </div>
</div>

<! -- Templates , might actually move these to partials eventually -- >
<script type="text/ng-template" id="friendtweets-column.html">
    <div class="tweetspan friendTweets" name={{}} ng-controller="FriendTweetsCtrl">
        <h3>{{$parent.$index+1}}. {{ColumnData.columns[$parent.$index]["name"]}} </h3>
        <div ng-controller="searchSettingsCtrl">
            <div class="heading-edit" ng-click="toggleSettingsPanel()">
                <i class="icon-home icon-white heading-icon"></i>
            </div>
            <homesettings></homesettings>
        </div>
        <div class="colTweets" ng-style="style()" resize scrolleey>
            <div class="tweetHolder" colsider>
                <div class="tweetcontainer">
                    <div ng-repeat="tweet in tweets" class="tweetBox">
                        <div class="tweetprofilepic">
                            <img ng-src="{{tweet.user.profile_image_url}}">
                        </div>
                        <div class="tweetdetails">
                            <div class="tweetname">
                                <a href="#" ng-controller="ProfileModalCtrl" ng-click="openModal()" bs-modal="'partials/user-modal.html'"><strong>{{tweet.user.name}}</strong><span class="screen_name">@{{tweet.user.screen_name}}</span></a>
                            </div>
                            <div class="tweettime">
                                <tweettime time="{{tweet.created_at}}"></tweettime>
                            </div>
                            <tweetbody text="{{tweet.text}}"></tweetbody>
                        </div>
                        <i class="icon-circle-arrow-right icon-white" tweetmoredetails></i>
                        <hr/>
                    </div>
                </div>
                <div class="tweetmoredetails">
                    <div class="tweetbox">
                        <div class="tweetprofilepic-big">
                            <img ng-src="{{moreDetails.tweet.user.profile_image_url}}">
                        </div>
                        <div class="tweetdetails">
                           <h4>{{moreDetails.tweet.user.name}}</h4>
                            <p><strong>{{moreDetails.tweet.user.screen_name}}</strong></p>
                            <tweetbody text="{{moreDetails.tweet.text}}"></tweetbody>
                            <p>{{moreDetails.tweet.created_at}}</p>
                            <p>Client : <span ng-bind-html="moreDetails.tweet.source"></span></p>
                        </div>
                        <a class="btn arrow lessdetailsbtn" ng-disabled="leftdisabled" href="#" ng-click="tweetlessdetails()"><i class="icon-chevron-left"></i> Back </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>

<script type="text/ng-template" id="search-column.html">
    <div class="tweetspan friendTweets" name={{ColumnData.columns[$parent.$index].name}} name2="{{}}" ng-controller="SearchTweetsCtrl">
        <h3>{{$parent.$index+1}}. {{ColumnData.columns[$parent.$index]["name"]}} </h3>
        <div ng-controller="searchSettingsCtrl">
            <div class="heading-edit" editcol ng-click="toggleSettingsPanel()">
                <i class="icon-search icon-white heading-icon"></i>
            </div>
            <searchsettings></searchsettings>
        </div>
        <div class="colTweets" ng-style="style()" resize scrolleey>
            <div class="tweetHolder" colsider>
                <div class="tweetcontainer">
                    <div ng-repeat="tweet in tweets | limitTo:pageSize " class="tweetBox">
                        <div class="tweetprofilepic">
                            <img ng-src="{{tweet.profile_image_url}}">
                        </div>
                        <div class="tweetdetails">
                            <div class="tweetname">
                                <a href="#" ng-controller="ProfileModalCtrl" ng-click="openModal()" bs-modal="'partials/user-modal.html'"><strong>{{tweet.from_user_name}}</strong><span class="screen_name">@{{tweet.from_user}}</span></a>
                            </div>
                            <div class="tweettime">
                                <tweettime time="{{tweet.created_at}}"></tweettime>
                            </div>
                            <tweetbody text="{{tweet.text}}"></tweetbody>
                        </div>
                        <i class="icon-circle-arrow-right icon-white" tweetmoredetails></i>
                        <hr/>
                    </div>
                    <loadtweets></loadtweets>
                </div>
                <div class="tweetmoredetails">
                    <div class="tweetbox">
                        <div class="tweetprofilepic-big">
                            <img ng-src="{{moreDetails.tweet.profile_image_url}}">
                        </div>
                        <div class="tweetdetails">
                            <h4>{{moreDetails.tweet.from_user_name}}</h4>
                            <p><strong>{{moreDetails.tweet.from_user}}</strong></p>
                            <tweetbody text="{{moreDetails.tweet.text}}"></tweetbody>
                            <p>{{moreDetails.tweet.created_at}}</p>
                            <twitterclient client="{{moreDetails.tweet.source}}"></twitterclient>
                        </div>
                        <a class="btn arrow lessdetailsbtn" ng-disabled="leftdisabled" href="#" ng-click="tweetlessdetails()"><i class="icon-chevron-left"></i> Back </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="user-column.html">
    <div class="tweetspan friendTweets" name={{ColumnData.columns[$parent.$index].name}} name2="{{}}" ng-controller="UserTweetsCtrl">
        <h3>{{$parent.$index+1}}. {{ColumnData.columns[$parent.$index]["name"]}} </h3>
        <div ng-controller="searchSettingsCtrl">
            <div class="heading-edit" editcol ng-click="toggleSettingsPanel()">
                <i class="icon-user icon-white heading-icon"></i>
            </div>
            <usersettings></usersettings>
        </div>
        <div class="colTweets" ng-style="style()" resize scrolleey>
            <div class="tweetHolder" colsider>
                <div class="tweetcontainer">
                    <div ng-repeat="tweet in tweets | limitTo:pageSize " class="tweetBox">
                        <div class="tweetprofilepic">
                            <img ng-src="{{tweet.user.profile_image_url}}">
                        </div>
                        <div class="tweetdetails">
                            <div class="tweetname">
                                <a href="#" ng-controller="ProfileModalCtrl" ng-click="openModal()" bs-modal="'partials/user-modal.html'"><strong>{{tweet.user.name}}</strong><span class="screen_name">@{{tweet.user.screen_name}}</span></a>
                            </div>
                            <div class="tweettime">
                                <tweettime time="{{tweet.created_at}}"></tweettime>
                            </div>
                            <tweetbody text="{{tweet.text}}"></tweetbody>
                        </div>
                        <i class="icon-circle-arrow-right icon-white" tweetmoredetails></i>
                        <hr/>
                    </div>
                    <loadtweets></loadtweets>
                </div>
                <div class="tweetmoredetails">
                    <div class="tweetbox">
                        <div class="tweetprofilepic-big">
                            <img ng-src="{{moreDetails.tweet.user.profile_image_url}}">
                        </div>
                        <div class="tweetdetails">
                            <h4>{{moreDetails.tweet.user.name}}</h4>
                            <p><strong>{{moreDetails.tweet.user.screen_name}}</strong></p>
                            <tweetbody text="{{moreDetails.tweet.text}}"></tweetbody>
                            <p>{{moreDetails.tweet.created_at}}</p>
                            <p>Client : <span ng-bind-html="moreDetails.tweet.source"></span></p>
                        </div>
                        <a class="btn arrow lessdetailsbtn" ng-disabled="leftdisabled" href="#" ng-click="tweetlessdetails()"><i class="icon-chevron-left"></i> Back </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.angularjs.org/1.1.3/angular.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/bootstrap.min.js"></script>
<script src="js/vendor/angular-strap.js"></script>
<script src="js/vendor/angular-sanitize.js"></script>
<script src="js/vendor/less-1.3.3.min.js"></script>
<script src="js/vendor/underscore-min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
